body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('space.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
#3dGlobe{
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%,-50%);
  width: 100vmin;
  height: 80vmin;
  z-index: 5;
}